<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="gps_link"/>
  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0 0 0.25" rpy="0 0 0"/>
  </joint>

  <gazebo reference="gps_link">
    <sensor name="rover_gps" type="gps">
      <always_on>true</always_on>
      <update_rate>5.0</update_rate>
      <plugin name="gps_controller" filename="libgazebo_ros_gps_sensor.so">
        <ros>
          <remapping>~/out:=gps/fix</remapping>
        </ros>
        <frame_name>gps_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>
</robot>